/* Write your CSS here */

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.home-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-img {
  width: 225px;
}

.home-bg-dark {
  background-color: #000000;
}

.home-bg-light {
  background-color: #ffffff;
}

.home-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 36px;
}

.home-heading-light {
  color: #ffffff;
}

.home-heading-dark {
  color: #000000;
}
